<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697266581191-8regfff0o04q5jf9bqk1l52md30uqujn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697266581191-8regfff0o04q5jf9bqk1l52md30uqujn</string>
	<key>API_KEY</key>
	<string>AIzaSyBWNlZb76iJHXMtmqpnBpglx5vTdCr69QQ</string>
	<key>GCM_SENDER_ID</key>
	<string>697266581191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ismayilismayilov.Thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-ios-a7bba</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-ios-a7bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697266581191:ios:b0a445c565fc5faafe98e2</string>
</dict>
</plist>